// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Archivo Narrow',sans-serif;} // font header
.fs {font-family: 'Grand Hotel',sans-serif;} // font special
.fpm {font-family: 'Permanent Marker',sans-serif;} // font Permanent Marker
.fi {font-family: 'zzn-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #4f4f4f;
@c2: #c92318;
@c3: #009736;
@c4: #c5ed1c;
@c5: #ffec00;
@cp: @c1; // color primary
@cl: @c2; // color link
.text-error {
	color: @c2;
}
.text-success {
	color: @c3;
}
.text-warning {
	color: @c4;
}

// font sizes
@fsp: 15px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";