#page-header {
	position: relative;
	background: url(../images/bg/01.jpg) no-repeat top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 16px;
		background: url(../images/bg/02.png) repeat-x top;
	}
	.logo {
		float: left;
		width: 33.3333%;
		margin: 17px 0 90px;
		text-align: center;
		@media @md {
			width: 40%;
		}
		@media @sm {
			width: 100%;
			margin: 20px 0;
		}
		@media @xs {
			width: 100%;
			margin: 20px 0;
		}
		a {
			img {
				display: block;
				margin: auto;
			}
		}
	}
}
#col-main {
	float: right;
	width: 74.6%;
	padding: 30px 0 60px;
	@media @sm, @xs {
		float: none;
		width: 100%;
	}
}
#col-left {
	position: relative;
	float: left;
	width: 23.7%;
	top: -60px;
	margin: 0 0 -60px;
	padding: 0 0 60px;
	@media @md {
		top: -50px;
		margin-bottom: -50px;
	}
	@media @sm, @xs {
		float: none;
		width: 100%;
		top: 0;
		margin-bottom: 0;
	}
	body.homepage & {
		top: -456px;
		margin-bottom: -456px;
		@media @md {
			top: -368px;
			margin-bottom: -368px;
		}
		@media @sm, @xs {
			top: 0;
			margin-bottom: 0;
		}
	}
}
#content {
	padding: 30px 0 0 25px;
	@media @sm, @xs {
		padding-left: 0;
	}
}
.label {
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background: @c1;
	padding: 0 12px;
	&.label-new {
		background: @c3;
	}
	&.label-action {
		color: @c2;
		background: @c5;
	}
	[class^="icon-"] {
		font-weight: normal;
		font-size: 16px;
		margin: 0 1px 0 -5px;
	}
}
.mod_breadcrumbs {
	position: relative;
	top: -70px;
	margin: 0 0 -40px 25px;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			font-weight: bold;
			padding: 0 0 0 20px;
			margin: 0 10px 0 0;
			color: @c2;
			text-shadow: 0 0 16px #fff;
			font-size: 14px;
			line-height: 1.1;
			&:before{
				content: '\e80c';
				font-weight: normal;
				color: #000;
			}
			&.home {
				padding-left: 28px;
				&:before{
					content: '\e80f';
					color: @c3;
					font-size: 18px;
					top: 0;
				}
			}
			a {
				text-decoration: none;
				color: #000;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-top-left {
	float: left;
	@media @xs {
		float: none;
	}
	ul {
		.rul;
		@media @xs {
			margin-top: 30px;
			text-align: center;
		}
		li {
			.rli;
			.fh;
			display: inline-block;
			color: #000;
			padding: 0 23px 0 0;
			&:before{
				.fp;
				content: '|';
				left: auto;
				top: auto;
				right: 10px;
				bottom: 4px;
			}
			&:last-child {
				padding-right: 0;
				&:before{
					display: none;
				}
			}
			a {
				position: relative;
				display: block;
				text-decoration: none;
				color: #000;
				font-size: 17px;
				line-height: 1.2;
				padding: 40px 0 0 0;
				@media @xs {
					padding-top: 0;
				}
				&:hover{
					text-decoration: underline;
				}
				.icon {
					.box-shadow(2px 0 0 fade(#000,20%));
					position: absolute;
					top: 0;
					left: 50%;
					width: 32px;
					margin: 0 0 0 -16px;
					padding: 5px 0 0;
					color: #fff;
					text-align: center;
					line-height: 1;
					background: @c2;
					@media @xs {
						display: none;
					}
					&:before, &:after {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						border: 16px solid transparent;
						border-top-color: @c2;
						border-top-width: 12px;
					}
					&:before{
						left: 2px;
						border-top-color: fade(#000,20%);
					}
				}
			}
		}
	}
}
.mod_menu-top-right {
	float: right;
	@media @xs {
		float: none;
	}
	ul {
		.rul;
		text-align: right;
		@media @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			padding: 24px 0 0;
			margin: 0 10px 0 2px;
			font-size: 13px;
			line-height: 1.2;
			text-transform: uppercase;
			a {
				color: #000;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				[class^="icon-"] {
					color: @c2;
					font-size: 17px;
					&.icon-key {
						font-size: 20px;
						margin: 0 -5px 0 0;
					}
				}
				mark {
					color: @c2;
					text-transform: none;
				}
			}
		}
	}
}
.mod_search {
	.clearfix;
	float: left;
	width: 39.5%;
	padding: 0 58px 0 27px;
	margin: 0 0 90px;
	@media @md {
		width: 33.3333%;
	}
	@media @sm {
		width: 50%;
		margin: 0 0 20px;
		padding-left: 0;
	}
	@media @xs {
		width: 100%;
		margin: 0 0 20px;
	}
	input[type="text"], input[type="search"] {
		position: relative;
		z-index: 1;
		height: 44px;
		float: left;
		font-size: 14px;
		margin: 22px -20px 0 0;
		@media @md {
			font-size: 11px;
		}
	}
	button {
		position: relative;
		font-size: 0;
		text-align: right;
		padding: 7px 16px 0 0;
		margin: 0 -58px 0 0;
		font-weight: normal;
		width: 78px;
		height: 90px;
		font-weight: normal;
		&:before{
			.fi;
			content: '\e804';
			font-size: 28px;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			bottom: 0;
			margin: 0 1px 0 0;
			width: 200%;
			background: -moz-linear-gradient(left,  rgba(201,35,24,0) 0%, rgba(201,35,24,0.5) 100%);
			background: -webkit-linear-gradient(left,  rgba(201,35,24,0) 0%,rgba(201,35,24,0.5) 100%);
			background: linear-gradient(to right,  rgba(201,35,24,0) 0%,rgba(201,35,24,0.5) 100%);
		}
	}
}
.mod_custom-basket {
	position: relative;
	float: right;
	width: 23.7%;
	margin: 0 0 90px;
	@media @sm {
		width: 50%;
		margin: 0 0 20px;
	}
	@media @xs {
		width: 100%;
		margin: 0 0 20px;
	}
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		height: 16px;
		left: -20px;
		right: -20px;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%);
		background-repeat: no-repeat;
		background-position: 0 8px;
	}
	a {
		.transition(0.2s);
		position: relative;
		display: block;
		min-height: 90px;
		color: #000;
		text-decoration: none;
		font-size: 13px;
		padding: 20px 80px 10px 30px;
		background: fade(#73aa18,50%);
		&:hover{
			color: #fff;
			background: @c3;
			&:before{
				color: @c3;
				background: #fff;
			}
		}
		&:before{
			.fi;
			.border-radius(50%);
			.transition(0.2s);
			content: '\e801';
			position: absolute;
			top: 50%;
			right: 20px;
			width: 56px;
			height: 56px;
			line-height: 56px;
			margin: -28px 0 0;
			font-size: 26px;
			text-align: center;
			color: #fff;
			background: @c3;
		}
		mark {
			display: block;
			color: #fff;
			font-size: 20px;
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	top: -60px;
	margin: 0 0 -25px 23.7%;
	padding: 0 0 0 20px;
	clear: both;
	@media @sm {
		margin-left: 0;
		top: 0;
		margin-bottom: 40px;
		padding-left: 0;
	}
	@media @xs {
		margin-left: 0;
		top: 0;
		margin-bottom: 20px;
		padding-left: 0;
	}
	.items {
		.box-shadow(0 0 6px fade(#000,50%));
		background: #fff;
		.item {
			position: relative;
			padding: 30px;
			display: none;
			overflow: hidden;
			width: 100%;
			background: #fff;
			@media @md {
				padding: 15px;
			}
			@media @xs {
				padding: 5px;
			}
			&:first-child {
				display: block;
			}
			&.cycle-slide {
				.content {
					h2 {
						.transition(0.5s);
						left: -300px;
					}
					.price {
						.transition(0.3s);
						left: -300px;
					}
				}
			}
			&.cycle-slide-active {
				.content {
					h2 {
						left: 0;
					}
					.price {
						left: 0;
					}
				}
			}
			figure {
				img {
					display: block;
				}
			}
			.content {
				position: absolute;
				bottom: 24%;
				left: 10%;
				right: 10%;
				@media @md {
					left: 8%;
					bottom: 15%;
					right: 8%;
				}
				@media @xs {
					left: 5px;
					bottom: 5px;
					right: 5px;
					padding: 10px 20px;
					background: fade(#000,50%);
				}
				h2 {
					position: relative;
					float: left;
					clear: both;
					margin: 0;
					padding: 20px 30px;
					color: #fff;
					font-size: 28px;
					font-weight: bold;
					background: @c2;
					@media @md {
						font-size: 24px;
						padding: 10px 20px;
					}
					@media @xs {
						background: none;
						padding: 0;
						font-size: 16px;
						font-weight: normal;
					}
					small {
						display: block;
						font-size: 17px;
						@media @xs {
							font-size: 14px;
						}
					}
				}
				.price {
					.transition(0.2s);
					position: relative;
					float: left;
					clear: both;
					padding: 15px 62px 15px 30px;
					font-size: 28px;
					line-height: 1.2;
					background: @c5;
					@media @md {
						padding: 10px 65px 10px 20px;
					}
					@media @xs {
						background: none;
						color: #fff;
						padding: 0;
						font-size: 14px;
					}
					&:hover{
						color: #fff;
						background: @c3;
						&:before{
							color: #fff;
						}
					}
					&:before{
						.fi;
						content: '\e817';
						float: right;
						color: @c3;
						margin: 0 -45px 0 14px;
						font-weight: bold;
						@media @xs {
							display: none;
						}
					}
				}
			}
		}
	}
	.prev, .next {
		.transition(0.2s);
		position: absolute;
		z-index: 999;
		top: 50%;
		left: 12px;
		width: 38px;
		height: 94px;
		line-height: 94px;
		margin: -47px 0 0;
		padding: 0 5px 0 0;
		text-align: center;
		color: #fff;
		font-size: 30px;
		text-decoration: none;
		background: @c2;
		@media @sm, @xs {
			left: -20px;
		}
		&:hover{
			background: @c3;
		}
		&:before{
			.fi;
			content: '\e818';
		}
	}
	.next {
		left: auto;
		right: -7px;
		padding: 0 0 0 5px;
		@media @sm, @xs {
			left: auto;
			right: -20px;
		}
		&:before{
			content: '\e817';
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		left: 20px;
		right: 0;
		bottom: -30px;
		padding: 5px 0 0;
		text-align: center;
		background: url(../images/bg/03.png) no-repeat;
		background-size: 100% 100%;
		@media @xs {
			display: none;
		}
		span {
			display: inline-block;
			font-size: 0;
			line-height: 1;
			padding: 0 2px 6px;
			color: @c2;
			cursor: pointer;
			&:hover{
				color: @c3;
			}
			&.cycle-pager-active {
				&:before{
					content: '\e807';
				}
			}
			&:before{
				.fi;
				content: '\e808';
				font-size: 18px;
			}
		}
	}
}
.ui-slider {
	.border-radius(5px);
	.box-shadow(inset 1px 1px 2px fade(#000,10%));
	position: relative;
	display: block;
	margin: 30px 0 60px;
	border: 1px solid #c3c3c3;
	border-right-color: #ebebeb;
	border-bottom-color: #ebebeb;
	height: 10px;
	background: #fff;
	.ui-slider-range {
		position: absolute;
		top: 0;
		bottom: 0;
		background: #d6d6d6;
	}
	.ui-slider-handle {
		.border-radius(2px 2px 0 0);
		.box-shadow(2px 1px 0 fade(#000,20%));
		position: absolute;
		top: -7px;
		width: 18px;
		height: 21px;
		margin: 0 0 0 -9px;
		outline: none;
		cursor: pointer;
		background: @c2;
		&:before, &:after{
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			border: 9px solid transparent;
			border-top: 7px solid @c2;
			border-bottom: 0;
		}
		&:before{
			margin: 1px 0 0 2px;
			border-top-color: fade(#000,20%);
		}
		span {
			position: absolute;
			top: 100%;
			left: 50%;
			width: 70px;
			text-align: center;
			margin: 0 0 0 -35px;
			font-size: 16px;
			line-height: 1;
			padding: 15px 0 0;
		}
	}
}
.eshop-items {
	.eshop-title {
		position: relative;
		overflow: hidden;
		margin: -30px 25px 18px;
		padding: 27px 0 0;
		@media @sm, @xs {
			border-top: 1px solid #ccc;
			margin-left: 0;
			margin-right: 0;
		}
		[class^="icon-"] {
			.border-radius(50%);
			.box-shadow(inset 4px 0 0 fade(#000,20%));
			position: absolute;
			top: -55px;
			right: 0;
			width: 110px;
			height: 110px;
			line-height: 60px;
			text-align: center;
			font-size: 28px;
			padding: 50px 0 0 0;
			color: #fff;
			background: @c2;
		}
		h1,h2,h3 {
			.fs;
			font-size: 56px;
			color: @c2;
			margin: 0 0 10px;
		}
	}
	.eshop-description {
		padding: 0 25px;
		line-height: 2;
	}
	.row-items {
		overflow: hidden;
		border-bottom: 1px solid #b2b2b2;
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 6px;
			margin: 0 -4px 0 0;
			@media @md, @sm {
				width: 50%;
			}
			@media @xs {
				width: 100%;
				padding: 0;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				top: -1px;
				left: -100%;
				right: -100%;
				height: 1px;
				background: #b2b2b2;
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: -1px;
				height: 200%;
				width: 1px;
				background: #b2b2b2;
			}
			a {
				.transition(0.2s);
				display: block;
				position: relative;
				padding: 6px 26px 20px;
				color: @c1;
				text-decoration: none;
				font-size: 14px;
				&:hover{
					background: #ebebeb;
				}
				.discount {
					.border-radius(50%);
					.box-shadow(inset 3px 0 0 fade(#000,20%));
					position: absolute;
					z-index: 1;
					left: 20px;
					top: 6px;
					width: 60px;
					height: 60px;
					line-height: 60px;
					text-align: center;
					font-weight: bold;
					font-size: 22px;
					color: #fff;
					background: @c2;
				}
				figure {
					margin: 0 -20px 18px;
					img {
						display: block;
					}
				}
				.labels {
					height: 0;
					overflow: visible;
					display: block;
					position: relative;
					top: -49px;
				}
				h2 {
					font-weight: bold;
					color: @c2;
					font-size: 22px;
					margin: 0 0 5px;
				}
				.price {
					font-size: 28px;
					line-height: 1.2;
					color: @c2;
					margin: 12px 0 0;
					&:before{
						.fi;
						.border-radius(50%);
						.transition(0.2s);
						content: '\e80e';
						float: right;
						width: 44px;
						height: 44px;
						line-height: 44px;
						margin: -7px 0 0 10px;
						color: #fff;
						text-align: center;
						font-weight: normal;
						font-size: 24px;
						background: @c3;
					}
					small {
						display: block;
						font-size: 19px;
					}
				}
			}
		}
	}
	.pagehub {
		border-top: 0;
		padding-top: 0
	}
}
.eshop-filter {
	position: relative;
	margin: 45px 0 50px;
	padding: 0 45px;
	background: #ebebeb;
	&:before{
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 24px;
		background: url(../images/bg/03.png) no-repeat;
		background-size: 100% 100%;
	}
	&.on {
		.form {
			display: block;
		}
		.toggle {
			&:before{
				content: '\e813';
				top: 0;
				bottom: auto;
				padding-top: 40px;
				line-height: 30px;
			}
		}
	}
	.toggle {
		.fh;
		display: block;
		overflow: hidden;
		position: relative;
		font-weight: bold;
		color: @c2;
		font-size: 24px;
		line-height: 1.2;
		margin: 0 -25px 0 0;
		padding: 35px 0;
		cursor: pointer;
		&:hover{
			&:before{
				background: @c2;
			}
		}
		&:before{
			.fi;
			.transition(0.2s);
			.border-radius(50%);
			.box-shadow(inset 4px 0 0 fade(#000,10%));
			content: '\e812';
			position: absolute;
			top: 100%;
			margin: -40px 0 0;
			right: 0;
			width: 80px;
			height: 80px;
			line-height: 50px;
			text-align: center;
			font-size: 24px;
			color: #fff;
			background: #999;
		}
	}
	.form {
		display: none;
	}
	.form-param {
		.clearfix;
		margin: 0 -20px 20px;
		.col {
			width: 50%;
			float: left;
			padding: 0 20px;
			@media @md, @sm, @xs {
				width: 100%;
			}
		}
		.form-control {
			.clearfix;
			margin: 0 0 10px;
			label {
				float: left;
				width: 35%;
				font-size: 16px;
				line-height: 1.2;
				padding: 10px 10px 0 0;
				@media @md, @sm {
					width: 25%;
				}
				@media @xs {
					width: 100%;
					float: none;
				}
			}
			.input {
				float: left;
				width: 65%;
				@media @md, @sm {
					width: 75%;
				}
				@media @xs {
					width: 100%;
					float: none;
				}
			}
		}
	}
	.form-color, .form-price, .form-attribute {
		.clearfix;
		padding: 25px 0;
		border-top: 1px solid #c8c8c8;
		.title {
			float: left;
			width: 17%;
			font-size: 16px;
			line-height: 1.2;
			@media @md, @sm {
				width: 25%;
			}
			@media @xs {
				float: none;
				width: auto;
				margin: 0 0 20px;
			}
		}
		.content {
			float: left;
			width: 83%;
			@media @md, @sm {
				width: 75%;
			}
			@media @xs {
				width: auto;
				float: none;
			}
		}
	}
	.form-color {
		label {
			display: inline-block;
			margin: 0 26px 0 0;
			@media @md, @sm {
				margin-right: 10px;
			}
			@media @xs {
				display: block;
				margin: 0;
			}
		}
	}
	.form-price {
		.slider_range {
			.ui-slider {
				margin: 8px 0 40px;
			}
		}
	}
	.form-attribute {
		label {
			display: inline-block;
			margin: 0 20px 0 0;
			color: @c2;
			text-transform: uppercase;
			font-weight: bold;
			@media @xs {
				display: block;
				margin: 0 0 5px;
			}
		}
	}
}
.eshop-meta {
	.clearfix;
	padding: 0 25px;
	margin: 0 0 50px;
	.show {
		float: left;
		width: 50%;
		@media @xs {
			float: none;
			width: auto;
			margin: 0 0 10px;
		}
		mark {
			font-weight: bold;
			color: @c2;
		}
	}
	.order {
		.clearfix;
		float: right;
		width: 50%;
		@media @xs {
			float: none;
			width: auto;
		}
		label {
			width: 44%;
			padding: 0 20px 0 0;
			float: left;
			text-align: right;
			@media @xs {
				width: auto;
				float: none;
				padding: 0;
				text-align: left;
			}
		}
		.input {
			float: right;
			width: 56%;
			margin: -9px 0 0;
			@media @xs {
				float: none;
				width: auto;
				margin: 0;
			}
		}
	}
}
.mod_menu-main {
	text-align: center;
	margin: 0 0 20px;
	.mod_menu-main-on & {
		.toggle {
			&:before{
				content: '\e81b';
				font-size: 32px;
			}
		}
	}
	.toggle {
		.fh;
		display: none;
		font-size: 28px;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		padding: 25px 0;
		color: @c2;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
		@media @sm, @xs {
			display: inline-block;
		}
		&:before{
			.fi;
			.border-radius(50%);
			.transition(0.2s);
			content: '\e819';
			font-weight: normal;
			font-size: 22px;
			float: left;
			margin: -9px 10px 0 0;
			width: 46px;
			height: 46px;
			line-height: 46px;
			text-align: center;
			color: #fff;
			background: @c3;
		}
	}
	&>ul {
		.rul;
		@media @sm, @xs {
			display: none;
			.mod_menu-main-on & {
				display: block;
			}
		}
		&>li {
			.rli;
			margin: 0 0 1px;
			text-align: left;
			&.act {
				&>a {
					background: @c3;
				}
			}
			&>a {
				.fh;
				.transition(0.1s);
				display: block;
				padding: 20px;
				color: #fff;
				font-size: 22px;
				line-height: 1.1;
				text-decoration: none;
				background: @c2;
				@media @md {
					font-size: 19px;
					padding: 15px;
				}
				@media @sm, @xs {
					font-size: 18px;
					padding: 10px;
				}
				&:hover{
					background: @c3;
				}
			}
			ul {
				.rul;
				padding: 20px;
				background: @c4;
				li {
					.rli;
					padding: 0 0 0 14px;
					line-height: 1.2;
					margin: 0 0 10px;
					&:before{
						content: '\e815';
						font-size: 18px;
						top: 0;
						color: @c3;
					}
					&.act {
						&:before{
							color: #fff;
						}
						&>a {
							font-weight: bold;
						}
					}
					a {
						color: #000;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					ul {
						background: none;
						padding: 14px 0 1px;
						li {
							font-size: 14px;
							margin: 0 0 8px;
							&:before{
								font-size: 12px;
								content: '\e815\e815';
								top: 2px;
								z-index: 1;
							}
							&.act {
								&:before{
									color: @c2;
								}
								&:after{
									content: '';
									position: absolute;
									left: -34px;
									top: 3px;
									width: 50px;
									height: 10px;
									background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
									background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
									background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
								}
								&>a {
									color: @c2;
								}
							}
						}
					}
				}
			}
		}
	}
}
.mod_banners {
	@media @sm, @xs {
		display: none;
		.mod_menu-main-on & {
			display: block;
		}
	}
	ul {
		.rul;
		@media @sm {
			margin: 0 -10px;
		}
		li {
			.rli;
			margin: 0 0 25px;
			@media @sm {
				display: inline-block;
				width: 50%;
				margin: 0 -4px 0 0;
				padding: 0 10px;
			}
			&.highlight {
				a {
					.icon {
						color: @c5;
					}
					mark {
						color: @c5;
					}
				}
			}
			a {
				.fh;
				.transition(0.2s);
				.clearfix;
				position: relative;
				display: block;
				color: #fff;
				font-size: 30px;
				line-height: 1;
				text-decoration: none;
				background: @c3 url(../images/bg/04.png) no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				@media @md {
					font-size: 28px;
				}
				@media @sm {
					font-size: 24px;
				}
				&:hover{
					mark {
						background: fade(@c3,90%);
					}
				}
				.icon {
					.fpm;
					position: absolute;
					top: 50%;
					right: 20px;
					font-size: 110px;
					line-height: 120px;
					margin: -60px 0 0;
					@media @md, @sm {
						font-size: 50px;
						right: 15px;
					}
				}
				mark {
					.transition(0.2s);
					color: #fff;
					display: block;
					margin: 22px 105px 0 0;
					padding: 22px 10px 25px 27px;
					background: fade(#000,50%);
					letter-spacing: 0.04em;
					@media @md, @sm {
						margin-right: 60px;
					}
				}
				small {
					font-size: 18px;
					display: block;
					letter-spacing: 0;
					margin: 0 0 2px;
					color: #fff;
				}
			}
		}
	}
}
#col-bottom {
	.clearfix;
	position: relative;
	overflow: hidden;
	background: @c5;
}
.mod_custom-delivery {
	float: left;
	width: 50%;
	font-size: 16px;
	padding: 22px 25% 20px 30px;
	min-height: 194px;
	color: @c2;
	background: @c5 url(../images/bg/05.png) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	@media @xs {
		float: none;
		width: auto;
		min-height: 0;
		margin: 0 -20px;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 34px;
		line-height: 1.1;
		margin: 0 0 8px;
		@media @md {
			font-size: 30px;
		}
		@media @sm {
			font-size: 24px;
		}
	}
}
.mod_xnewsletter {
	position: relative;
	width: 50%;
	float: left;
	min-height: 194px;
	padding: 20px 0 20px 30px;
	color: #fff;
	background: @c3 url(../images/bg/06.png) no-repeat left;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	@media @xs {
		float: none;
		width: auto;
		min-height: 0;
		padding-left: 20px;
		margin: 0 0 0 -20px;
	}
	&:before{
		content: '';
		position: absolute;
		left: 100%;
		top: 0;
		bottom: 0;
		width: 999em;
		background: @c3;
	}
	.mod-title {
		.fh;
		float: left;
		width: 40%;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 34px;
		line-height: 1.1;
		@media @md {
			font-size: 30px;
			width: 25%;
		}
		@media @sm  {
			font-size: 24px;
			width: 25%;
		}
		@media @xs {
			width: auto;
			float: none;
		}
	}
	.content {
		float: left;
		width: 60%;
		padding: 7px 0 0 40px;
		line-height: 1.3;
		@media @md {
			width: 75%;
		}
		@media @sm {
			width: 75%;
		}
		@media @xs {
			width: auto;
			padding-left: 0;
			float: none;
		}
		p {
			margin: 0 0 14px;
		}
		form {
			.clearfix;
			padding: 0 40px 0 0;
			input[type="text"], input[type="email"] {
				height: 44px;
				float: left;
				margin: 0 -40px 0 0;
			}
			button {
				.transition(0.2s);
				position: relative;
				left: 40px;
				width: 40px;
				height: 44px;
				line-height: 44px;
				padding: 0;
				background: none;
				font-size: 0;
				font-weight: normal;
				text-align: right;
				color: #fff;
				&:hover{
					color: @c2;
				}
				&:before{
					.fi;
					content: '\e80c';
					font-size: 30px;
				}
			}
		}
	}
}
#col-footer {
	padding: 65px 0 25px;
	background: #4d4d4d;
}
.mod_custom-contact {
	.clearfix;
	width: 64%;
	float: left;
	color: #fff;
	font-size: 14px;
	@media @md {
		width: 50%;
	}
	@media @sm {
		width: 100%;
		margin-bottom: 60px;
	}
	@media @xs {
		width: 100%;
		margin-bottom: 60px;
	}
	a {
		color: @c5;
	}
	.mod-title {
		.fh;
		font-size: 22px;
		line-height: 1.2;
		margin: 0 0 23px;
	}
	.address {
		float: left;
		width: 33.3333%;
		@media @md {
			width: 50%;
		}
		@media @xs {
			width: 100%;
			float: none;
			margin: 0 0 60px;
		}
		.mod-title {
			font-weight: bold;
			color: @c5;
			margin: -27px 0 15px;
		}
		address {
			color: @c5;
			font-style: normal;
			margin: 0 0 20px;
		}
		.phone {
			position: relative;
			padding: 0 0 0 70px;
			font-size: 14px;
			line-height: 1.2;
			letter-spacing: 0.04em;
			white-space: nowrap;
			margin: 0 0 5px;
			&:before{
				.fi;
				content: '\e803';
				position: absolute;
				left: 10px;
				top: 50%;
				font-size: 28px;
				line-height: 1;
				margin: -14px 0 0;
			}
			mark {
				color: #fff;
				font-size: 24px;
				display: block;
				margin: 0 0 6px;
			}
		}
		.email {
			.clearfix;
			padding: 0 0 0 70px;
			margin: 0 0 5px;
			font-size: 15px;
			a {
				color: #fff;
			}
			span {
				float: left;
				margin: 0 0 0 -70px;
				width: 60px;
			}
		}
	}
	.list {
		float: left;
		width: 30%;
		padding: 0 0 0 25px;
		@media @md {
			width: 50%;
		}
		@media @xs {
			width: 100%;
			padding: 0;
			margin: 0 0 20px;
		}
		ul {
			.rul;
			li {
				font-size: 13px;
				line-height: 1.2;
				padding: 0 0 0 12px;
				margin: 0 0 9px;
				&:before{
					color: @c5;
					top: 0;
					font-weight: bold;
					font-size: 13px;
				}
				a {
					mark {
						color: @c5;
						font-size: 15px;
						font-weight: bold;
					}
				}
			}
		}
	}
	.map {
		width: 36.6666%;
		float: left;
		margin: -16px 0 0;
		padding: 0 30px 0 10px;
		text-align: center;
		@media @xs {
			width: 100%;
			float: none;
			margin: 0;
		}
		a {
			position: relative;
			display: block;
			&:hover{
				&:before{
					color: #fff;
					background: @c2;
				}
			}
			&:before{
				.fi;
				.border-radius(50%);
				.transition(0.2s);
				content: '\e80e';
				position: absolute;
				right: 10%;
				bottom: 1px;
				width: 44px;
				height: 44px;
				line-height: 44px;
				font-size: 22px;
				text-align: center;
				color: @c1;
				background: @c5;
			}
			img {
				display: block;
				margin: auto;
			}
		}
	}
}
.mod_menu-bottom {
	position: relative;
	float: left;
	width: 36%;
	color: #cacaca;
	font-size: 14px;
	padding: 0 0 0 30px;
	@media @sm {
		width: 100%;
		padding-left: 0;
	}
	@media @xs {
		width: 100%;
		padding-left: 0;
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: -20px;
		bottom: 10px;
		width: 16px;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%);
		background-repeat: no-repeat;
		background-position: -9px 0;
		@media @sm, @xs {
			display: none;
		}
	}
	a {
		color: #fff;
	}
	.col {
		float: left;
		width: 50%;
		padding: 0 10px;
	}
	.mod-title {
		.fh;
		font-size: 22px;
		line-height: 1.2;
		margin: 0 0 25px;
		color: #fff;
	}
	ul {
		.rul;
		margin: 0 0 30px;
		li {
			.rli;
			line-height: 1.2;
			margin: 0 0 3px;
			a {
				display: inline-block;
				padding: 0 0 0 12px;
				margin: 0 0 5px;
				&:before{
					content: '\203a';
					position: absolute;
					left: 0;
					top: 0;
					font-weight: bold;
					font-size: 13px;
					line-height: 1;
				}
			}
		}
	}
}
.detail-image {
	position: relative;
	width: 50%;
	padding: 0 15px 50px 0;
	float: left;
	@media @xs {
		float: none;
		width: auto;
	}
	.discount {
		.border-radius(50%);
		.box-shadow(inset 3px 0 0 fade(#000,20%));
		position: absolute;
		z-index: 1;
		left: 20px;
		top: 6px;
		width: 70px;
		height: 70px;
		line-height: 70px;
		text-align: center;
		font-weight: bold;
		font-size: 26px;
		color: #fff;
		background: @c2;
	}
	figure {
		position: relative;
		text-align: center;
		img {
			display: block;
			margin: auto;
		}
	}
	.labels {
		position: relative;
		display: block;
		top: -30px;
		height: 0;
		overflow: visible;
		.label {
			margin: 0 -4px 0 0;
		}
	}
	.thumbnails {
		.rul;
		margin: 10px -5px;
		li {
			.rli;
			display: inline-block;
			width: 25%;
			vertical-align: top;
			padding:  0 5px 10px;
			margin: 0 -4px 0 0;
			img {
				display: block;
			}
		}
	}
}
.detail-description {
	position: relative;
	width: 50%;
	padding: 0 0 50px 20px;
	float: left;
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
	}
	h1 {
		.fh;
		font-size: 36px;
		margin: 0 0 20px;
	}
	.more {
		font-size: 16px;
		line-height: 1;
		text-align: right;
		margin: -5px 0 20px;
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e800';
				float: right;
				font-size: 20px;
				margin: -3px 0 0 10px;
			}
		}
	}
	table.info {
		width: 100%;
		margin: 0 0 20px;
		tr {
			th, td {
				padding: 5px 0;
				line-height: 1.2;
			}
			th {
				width: 35%;
				padding-right: 10px;
			}
			td {
				mark {
					color: @c3;
				}
			}
		}
	}
	table.options {
		width: 100%;
		margin: 0 0 20px;
		tr {
			&:first-child {
				th, td {
					border-top: 0;
				}
			}
			th, td {
				padding: 5px 0;
				line-height: 1.2;
				border-top: 1px solid #e5e5e5;
			}
			th {
				width: 35%;
				padding-right: 10px;
			}
			td {
				
			}
		}
	}
	.price {
		padding: 15px 30px 30px;
		color: #000;
		background: #ebebeb;
		table {
			tr {
				th, td {
					padding: 5px 0;
					font-size: 16px;
					line-height: 1.2;
					vertical-align: bottom;
				}
				th {
					width: 35%;
				}
				td {
					mark {
						color: @c2;
					}
					.lead {
						font-size: 36px;
					}
				}
			}
		}
	}
	.variant {
		margin: 0 0 30px;
		h2 {
			font-size: 22px;
		}
		.selectboxit {
			height: 77px;
			padding-top: 17px;
			.selectboxit-option-icon-container {
				.selectboxit-option-icon-url {
					float: left;
					width: 62px;
					height: 62px;
					margin: -10px 40px -10px -10px;
				}
			}
			mark {
				color: @c3;
			}
		}
		.selectboxit-options {
			li {
				a {
					.selectboxit-option-icon-url {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
	.basket {
		.clearfix;
		height: 76px;
		background: @c4;
		input[type="text"],input[type="number"] {
			float: left;
			width: 20%;
			margin: 16px 0 0 8%;
			font-size: 18px;
		}
		span {
			float: left;
			font-size: 16px;
			line-height: 76px;
			width: 14%;
			padding: 0 15px 0 0;
			text-align: center;
		}
		button {
			width: 58%;
			padding: 0;
			height: 76px;
			font-size: 24px;
			&:before{
				.fi;
				content: '\e801';
				font-weight: normal;
				font-size: 34px;
				margin: 0 15px 0 0;
			}
		}
	}
}
.panes {
	margin: 0 0 0 -25px;
	@media @sm, @xs {
		margin: 20px 0;
	}
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 10px solid @c3;
		li {
			.rli;
			float: left;
			margin: 0 2px 0 0;
			@media @xs {
				float: none;
			}
			&.cycle-pager-active {
				a {
					color: #fff;
					background: @c3;
				}
			}
			a {
				display: block;
				background: @c4;
				padding: 28px 30px;
				text-decoration: none;
				color: #000;
				font-size: 18px;
				line-height: 1;
				white-space: nowrap;
				text-transform: uppercase;
				@media @md {
					padding: 20px 20px;
					font-size: 15px;
				}
				@media @sm, @xs {
					padding: 15px 18px;
					font-size: 15px;
				}
			}
		}
	}
	.pane {
		padding: 40px 40px 25px;
		@media @sm, @xs {
			padding-left: 0;
			padding-right: 0;
		}
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
	}
}
#page-footer {
	padding: 35px 0 80px;
	.copy {
		float: left;
		@media @xs {
			float: none;
			text-align: center;
		}
	}
	.xart {
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		@media @xs {
			float: none;
			text-align: center;
		}
		a {
			text-decoration: none;
			color: @c1;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 15px;
			margin: 0 0 0 10px;
			@media @xs {
				display: block;
				margin: 0 auto 5px;
				width: 30px;
				float: none;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 13px;
	background: @c5;
	@media @xs {
		position: static;
	}
	.content {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		margin: 0 -4px 0 0;
		@media @xs {
			display: block;
			width: auto;
			margin: 0;
		}
		p {
			margin: 5px 0;
		}
	}
	nav {
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		@media @xs {
			display: block;
			width: auto;
		}
		a {
			.btn;
			display: block;
			background: @c3;
			&:hover{
				background: darken(@c3,5%);
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80d';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}