
.icon-info:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-record:before { content: '\e807'; } /* '' */
.icon-record-outline:before { content: '\e808'; } /* '' */
.icon-warning:before { content: '\e809'; } /* '' */
.icon-down:before { content: '\e80a'; } /* '' */
.icon-left:before { content: '\e80b'; } /* '' */
.icon-right:before { content: '\e80c'; } /* '' */
.icon-up:before { content: '\e80d'; } /* '' */
.icon-zoom-in:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-export:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-up-dir:before { content: '\e813'; } /* '' */
.icon-left-dir:before { content: '\e814'; } /* '' */
.icon-right-dir:before { content: '\e815'; } /* '' */
.icon-attention-filled:before { content: '\e816'; } /* '' */
.icon-arr-thin-right:before { content: '\e817'; } /* '' */
.icon-arr-thin-left:before { content: '\e818'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */